html {
    font-family: sans-serif;
}


.title {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #333;
}

.mainContent {
    width: 300px;
    padding-right: 25px;
    box-sizing: border-box;
}

p {
    font-family: monospace;
}

.cat {
    width: 50%;
    height: 50%;
    border-radius: 10%;
}